:root {
	font-size: 3em;
	--color-1: salmon;
	--color-2: white;
}

.cs-background {
	background: var(--color-1);
}

.cs-element {
	background: var(--color-2);
	color: var(--color-1);
}

.cs-title {
	color: var(--color-2);
}