.Label {
	height: 100%;
	text-align: center;
}

.MiddleOf {
	position: relative;
}

.Middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.Metrics {
	float: left;
	width: 16mm;
}

.Metric {
	box-sizing: border-box;
	color: white;
	height: 1.6em;
	padding: 0.2em;
	text-align: left;
	width: 1.6em;
}

.Metric .Value {
	font-size: 0.6em;
	line-height: 1.25em;
}

.Metric .Value.Big {
	line-height: 1.8em;
}

.Metric .Unit {
	font-size: 0.6em;
	margin-left: 0.25em;
}

.Metric .Name {
	font-size: 0.3em;
	line-height: 1.25em;
}

.SideNote {
	background-color: #333;
	box-sizing: border-box;
	color: #ccc;
	float: right;
	width: 6mm;
	font-size: 0.25em;
	padding: 0.33em;
	margin-right: -1mm;
	text-align: center;
	transform: rotate(180deg);
	writing-mode: vertical-rl;
}

.Details,.Recipe {
	float: right;
	font-size: 0.25em;
	margin: 0 2em;
	width: 20em;
	padding: 0 0.8em;
	text-align: justify;
}

.Details .NoDescription {
	transform: translateY(-50%) rotate(90deg) translateY(-45%);
}

.Details .NoDescription .Ingredients,.Details .NoDescription .Logo {
	transform: rotate(180deg);
}

.Details .Ingredients .Title {
	font-weight: bold;
}

.Details .Logo {
	font-size: 4em;
	text-align: center;
}

.Details .Logo .Image {
	display: inline-block;
	height: 1.5em;
	width: 5em;
}

.Details .Logo .Image img {
	max-height: 1.5em;
	max-width: 5em;
}

.Recipe {
	display: none;
}

.Recipe ul {
	padding: 0;
}

.Recipe li {
	list-style: none;
}

.Front {
	display: inline-block;
	height: 100%;
	overflow: auto;
	position: relative;
	text-align: left;
	width: 7em;
}

.Image.Placeholder {
	border: dashed 0.25em red;
	border-radius: 0.33em;
	box-sizing: border-box;
	margin: 0.5em 0;
	text-align: center;
}

.Image.Placeholder::after {
	content: 'Drop image here';
	font-size: 0.5em;
	opacity: 0.5;
}

.Front .Image {
	height: 7em;
	width: 6em;
}

.Front .Image.Placeholder {
	height: 6em;
}

.Front .Image img {
	max-height: 7em;
	max-width: 6em;
}

.Image {
	overflow: hidden;
	position: relative;
}

.Image img {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.Front .Image p {
	font-size: 0.5em;
}

.Front .Title {
	bottom: 0;
	position: absolute;
	margin: 0.25em 0;
}

.Front .Name {
	font-size: 0.8em;
}

.Front .Style {
	font-size: 0.6em;
}
